input {
    padding: .2em .2em;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { /* Chrome */
   -webkit-appearance: none;
   margin: 0;
}
input[type="number"] { /* Firefox*/
   -moz-appearance: textfield;
}

img {
    width: 80px;
    height: 100px;
    position: absolute;
}

#mainContainer {
    border: 1px black solid;
    margin: 3em;
    padding: 2em;
}

#introContainer {
    margin-left: 7em;
}

span {
    display: inline-block;
    margin-bottom: .5em;
}

span > p {
    margin-top: 0.2em;
}

.hidden {
    display: none;
}

.long {
    width: 30em;
}

.small {
    width: 3.5em;
}

.hobby {
    padding: 10px;
    border: 1px black solid;
    margin-bottom: 1em;
}