button, #github {
    background-color: transparent;
    color: black;
    border: 2px solid #555;
    border-radius: 5px;
    transition-duration: 0.4s;
}

#github {
    float: right;
    font-size: .8em;
    padding: .2em .3em;
    color: black;
    text-decoration: none;
}

.selected {
    background-color: transparent;
    color: black;
    border: 2px solid #555;
    border-radius: 5px;
    transition-duration: 0.4s;
}

html {
    background-color: #ddd;
}

html, input, textarea, button {
    font-family: 'Verdana', sans-serif;
}

#introContainer {
    margin-left: 8em;
}

img {
    width: 7em;
    height: 7em;
    border-radius: 50%;
    position: absolute;
}

img:hover {
    cursor: pointer;
}

span {
    display: inline-block;
    margin-bottom: .5em;
}

span > p {
    margin-top: 0.2em;
}

.hidden {
    display: none;
}

.long {
    width: 30em;
}

.small {
    width: 3.5em;
}

.arrayBorder {
    padding: 10px;
    border: 1px black solid;
    margin-bottom: 1em;
}

.array {
    display: flex;
    flex-flow: wrap;
}

.shortTextArea {
    height: 4em;
}

textarea {
    width: 100%;
    height: 10em;
    font-size: .8em;
}

.favorite {
    border: gold solid;
}

.selected {
    border: red solid;
}

button:hover, #github:hover {
    background-color: #777;
    color: white;
}

button:disabled {
    background-color: #777;
    color: white;
}

.favorite:hover {
    background-color: rgb(211, 201, 68);
    color: white;
}

.selected:hover {
    background-color: rgb(255, 85, 85);
    color: white;
}

#profileDisplay {
    font-size: .9em;
}

h4 {
    line-height: 0;
}

/* CONTAINERS */

.objectContainer {
    background-color: white;
    border-radius: 10px;
    border: 1px black solid;
    margin: 2em;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    padding: 1em;
}

.backgroundContainer {
    padding: .2em;
}

/* COMPARAISON TABLE */

#comparationTable {
    margin: 2em;
}

#comparationTable .ht_master:first-child tr:nth-of-type(even) > td {
    background-color: rgb(240, 240, 240);
}

/* INPUT */

input {
    padding: .2em .2em;
    box-sizing: border-box;
    border: none;
}

input:not([type=color]) {
    border-bottom: 1px solid black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { /* Chrome */
   -webkit-appearance: none;
   margin: 0;
}
input[type="number"] { /* Firefox*/
   -moz-appearance: textfield;
}

.container {
    margin: 2em;
}

#introPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    padding: 1em;
}

#mainContent {
    width: 100%;
}

.compactDisplay {
    display: flex;
    flex-flow: wrap;
}

.comparatorCategory {
    border: 1px black solid;
    width: 10em;
    padding: .5em;
}